---
---

@import 'bootstrap/bootstrap';

body {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
    color: white;
}

.font-bolder {
    font-weight: 900;
}

.font-bolder-no-color {
    font-weight: 600;
    color: black;
}

.lead {
    font-weight: 400;
    font-size: 2rem;
    color: #E2A463;
    padding-left: 10px;
}

.card-columns {
    column-count: 2;
}

.card-columns .card {
    margin-bottom: 2rem;
}

.jumbotron {
    color: black;
    background-image: url("/images/il_794xN.1098056634_26yg.jpg");
    // background:linear-gradient(0deg,rgba(255,122,59,0.6),rgba(255,171,46,0.3)),url('/images/il_794xN.1098056634_26yg.jpg');
    filter: blur(5%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.jumbotron-post {
    color: black;
    // background-image: url("/images/il_794xN.1098056634_26yg.jpg");
    // background:rgba(255,122,59,0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.vertical-center {  
    display: flex;
    align-items: center;
}

.card-img-top {
    max-height: none;
}

.overlap {
    margin-left: -10%;
    z-index: 1;
}

.card {
    border: 0;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-img-home {
    object-fit: cover;
    max-height: 300px;
}

.card-img-post {
    object-fit: cover;
    max-height: none;
}

.card-transparent {
    background-color: rgba(255, 255, 255, 0.0);
}

.post-card-transparent {
    background-color: rgba(255, 255, 255, 0.95);
}

.card-container {
    margin-top: 80px;
}

.tall-card {
    height: 55vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.post {
    // backdrop-filter: blur(8px);
    height: 100vh;
    width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
}

.page-title {
    font-size: 3rem;
}

#listGroup {
    visibility: hidden;
}

#openButton {
    visibility: visible;
}

//////
/* The sidebar menu */
.sidebar {
    height: 86vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    padding-top: 60px;
    margin-top: 14vh;
    transition: all 0.5s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }