---
layout: default
---

<div class="jumbotron">
  <div class="container-fluid mt-5 pt-1">
    <h1>Welcome <span class="font-bolder">Home</span></h1>
    <p class="lead">The Homestead Story</p>
  </div>

  <div class="container-fluid card-container">
    <div class="mt-5 pt-5 card-columns">
    {% for post in site.posts %}
      <div class="card">
        {% if post.image-url %}
        <img class="card-img-top card-img-home" src="{{ post.image-url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="btn btn-primary stretched-link">See More</a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
</div>
