<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="jumbotron-post jumbotron-fluid" style="background-image: url({{ page.image-url }})">
        <div class="post vertical-center">
          <div class="container-fluid">
            <div class="card card-transparent tall-card">
              <div class="card-header">
                <h1 class="font-bolder-no-color">{{ page.title }}</h1>
              </div>
              <div class="card-body">
                <p>{{ page.excerpt }}</p>
              </div>
              <div class="card-footer">
                <a href="/" class="btn btn-primary stretched-link">Return Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include footer.html %}
  </body>
</html>
